body{
    background-color: #fff0f0;
    background-color: rgb(255, 240, 240);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
   }